bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/target
project/project
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache

/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID

.DS_Store
.cache
.cache-main
tags
.tags
.tags1
